<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="selector" class="dropdown-menu dropdown-menu-end cui-column-menu">
    <span class="dropdown-header">Columnas</span>
    <label class="dropdown-item"><input type="checkbox" checked data-cui-column-toggle value="principal"> Principal</label>
    <label class="dropdown-item"><input type="checkbox" checked data-cui-column-toggle value="estado"> Estado</label>
    <label class="dropdown-item"><input type="checkbox" checked data-cui-column-toggle value="acciones"> Acciones</label>
</div>
</body>
</html>
