<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="confirmModal" class="modal fade" id="cuiConfirmModal" tabindex="-1" aria-labelledby="cuiConfirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cuiConfirmModalTitle">Confirmar accion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="cuiConfirmMessage">
                Esta accion requiere confirmacion.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="cuiConfirmAccept">Confirmar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
