# === Base de datos ===
DB_URL=jdbc:postgresql://localhost:5432/cresio4
DB_USERNAME=postgres
DB_PASSWORD=.r4e3w2q1

# === Correo SMTP (Gmail) ===
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

# === Almacenamiento ===
ACTAS_BASE_PATH=./data/actas
MANTENIMIENTO_STORAGE_PATH=./data/mantenimientos
